body{

    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
header{

    width:100%;
    height: 350px;

    background-color:#F38E58 ;

}
.navbar{
    width: 88%;
    height: 90px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 20px ;
    align-items: center;


}
nav{
    width: 100%;
    height: 15%;
    position: fixed;
    background-color: #F38E58;
    top: -40px;
    padding: 15px;

}


.nv-left{

    display: flex;
}
.nv-left ul{
    display: flex;
    margin-left: 20px;

}
.nv-left img{
    height: 50%;
}
.nv-left ul li{
    list-style: none;
    margin-right: 25px;

}
.nv-left ul a{
text-decoration: none;
color: white;
margin-right: 18px;

}
.nv-right a{
text-decoration: none;
color: white;
margin-right: 18px;
font-size: 10px;
font-weight: bolder;
padding: 15px 20px;


}
.nv-right {
    margin-top: 20px;
}
.nv-right a:first-child{
    background-color: #032030;

    border-radius: 10px;
    font-size: 15px;

     }
     .nv-right a:last-child{
         font-size: 13px;
         font-weight: bolder;

        background: #F38E58;
        border: 2px solid #FFFFFF;
        font-weight: bold;
        border-radius: 10px;


     }
.titre :first-child{
    font-family: sans-serif;
 text-align: center;
 margin-top:90px;
 color: white;
 font-size: 45px;
 margin-bottom:0;

}
.titre{
    padding-top: 130px;
}
.titre :last-child{
    text-align: center;
    margin-top: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
     }

main{
    display: flex;
   background-color: rgb(252, 249, 249);
    justify-content: center;
   height: 800px;
    flex-flow: row wrap;
}

.reachout{
    width: 50%;
}
.left{
    padding-left: 100px;
    padding-right: 50px;
    margin: auto;
}
.left form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
#BTN{
    align-self: flex-end;
    justify-self: flex-end;
}
input[type=text], textarea {
    padding: 12px 20px;
    margin: 10px 0;
    display:flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font: 300 1em/1.35rem "proxima-nova", sans-serif;
}
textarea{
    width: 100%;
    height: 150px;
}
textarea::-webkit-scrollbar{
    width: 12px;
    line-height: 2.3;
    
}


input[type=submit] {
    justify-self: flex-end;
    width: 150px;
    height: 50px;
    background-color: #f39b6b;
    border-style: none;
    margin-top: 30px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
.btn input[type=submit]{
    align-self: flex-end;
}
  
input[type=submit]:hover {
    background-color: #d16e39;
}



.left h1, .right h1{
    color: #5BB5DE;
    font-family: 'proxima-nova', sans-serif;
    font-variant-caps: all-petite-caps;
    font-weight: 600 ;
    font-size: 1.9em;
}
.left p, .right p{
    font-family: sans-serif;
    font-size: 1.2em;
    color: #767676;
    margin: 1em 0;
    line-height: 140%;
    
}




.landerteam{
    width: 50%;
}
.right{
    padding-left: 50px;
    padding-right: 100px;
}
.landerteam i{
    color: #f39b6b;
    font-size: 80px;
}
.landerteam a{
    font-size: 1em;

}
.help_center, .link{
    text-decoration: none;
    color: #F49B6C;
}



.social{
    margin-top: 70px;
}

.social p{
    line-height: 140%;
    font-size: 1.2em;
    margin-left: 90px;
    margin-top: 25px;
}
.social a{
    font-size: 1em;

}
.social h3{
    font-weight: 400;
    font-size: 1.75em;
    color: rgba(0, 0, 0, 0.829);
}

.landerteam i{
    margin-top: 5px;
    color: #F49B6C;
    font-size: 80px;
    
}
.social div{
    margin-bottom: 30px;
}

#twitter_icon, #linkedin_icon,#facebook_icon{
    float: left;
    border-radius: 50%;
    color: white;
    background-color: #f39b6b;
    padding: 15px;
    font-size: 35px;
    
}






 

.article div{
 display: flex;
}
.footer1{
    display: grid;
    justify-content: space-around;
    background-color: #404040 ;
    color: rgb(255, 255, 255);
    grid-template-columns: auto auto auto auto auto auto ;
    height: 240px;
    width: 100%;
    
}
.footer1 div ul li{
    text-decoration: none;
    list-style: none;

}
.article img{
margin-top: 5px;
}
.article p {
    margin-left: 30px;
}
footer h5{
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    background: rgb(2, 32, 47);
    font: 400 16px/120% "proxima-mova",sans-serif;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
}
.footer2{
    background: rgb(145, 152, 182);
    text-align: left;
    

}
.fff{
background-color: #333;
width: 100%;
height: 30px;
color: white;
padding: 10px;
}




    
    
   


